In [5]:
import pandas as pd

In [6]:
print("Hello World")

Hello World

In [8]:
a = pd.read_csv("transactions.csv")
print(a)
low_memory=False

                             transaction_id            timestamp     amount  \
0      f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a  2025-03-06 12:04:00    7746.03
1      feccbd1e-7752-4452-a44a-901510252561  2025-03-31 01:37:00   45193.04
2      bc6a480c-e2e1-434d-830c-1cda3f913038  2025-04-29 22:58:00   33029.71
3      b832aa2c-77f3-4c4f-9697-9776b8d74abb  2025-02-27 14:52:00  35994 .61
4      0d32c6ef-508e-4f5d-bc64-341a0a9f498d  2025-01-03 22:29:00   32229.73
...                                     ...                  ...        ...
99995  ea7e0cb2-fadb-496c-962b-7e54a5cfa1bc  2025-02-03 17:00:00     146.04
99996  4271c3c0-d3be-49f5-8154-ee60e2a1e582  2025-01-07 14:00:00      56.98
99997  23574238-9739-4af4-a823-5b699812db4d  2025-05-11 13:00:00     128.34
99998  38e785ff-e460-419e-af07-595f5c67aaf6  2025-02-02 13:00:00     149.13
99999  94e5a276-d5ce-40f6-b17c-97885b455bbd  2025-05-09 15:00:00      41.77

      currency            sender_account          receiver_account  \
0          SEK  SE8902EWFT80524424320740  SE8902ZUIH32054423564254
1          SEK  SE8902GTSI58472323675409  SE8902ERNA19462716907689
2          SEK  SE8902SEZT63377163386089  SE8902LOLQ30361773270969
3          SEK  SE8902MGEE43594824630478  SE8902XIVG18316797897983
4          SEK  SE8902SZWO66860675966705  SE8902SUUS97732018069804
...        ...                       ...                       ...
99995      USD    GB39XHRG15445191862019  SE8902AQYT55466061009593
99996      USD    GB97OHYP64183530899251  SE8902AQYT55466061009593
99997      USD    GB68PWPH34390331224741  SE8902AQYT55466061009593
99998      USD    GB30NDUZ96025046626638  SE8902AQYT55466061009593
99999      USD    GB64JUMJ42347315082570  SE8902AQYT55466061009593

      sender_country sender_municipality receiver_country  \
0             Sweden          Karlskrona           Sweden
1             Sweden               Piteå           Sweden
2             Sweden           Östersund           Sweden
3             Sweden            Karlstad           Sweden
4             Sweden          Skellefteå           Sweden
...              ...                 ...              ...
99995     Mauritania        Jacksonville           Sweden
99996         Guinea         Waltersport           Sweden
99997        Tokelau           Davidfurt           Sweden
99998       Bulgaria     West Andrewside           Sweden
99999         Latvia        Crawfordfort           Sweden

      receiver_municipality transaction_type                  notes
0                Eskilstuna         outgoing        Online purchase
1                Norrköping         outgoing             Tax refund
2                 Karlskoga         incoming             Tax refund
3               Helsingborg         incoming                    NaN
4                     Falun         outgoing             Tax refund
...                     ...              ...                    ...
99995              Nyköping         outgoing  Gift to family member
99996            Skellefteå         incoming                    NaN
99997                 Luleå         incoming  Gift to family member
99998            Skellefteå         outgoing         Loan repayment
99999               Varberg         outgoing                    NaN

[100000 rows x 12 columns]

C:\Users\Max\AppData\Local\Temp\ipykernel_7636\994900515.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv("transactions.csv")