In [1]:
import pandas as pd

In [7]:
print("Hello World")

Hello World

In [12]:
df = pd.read_csv("transactions.csv")
print(a)
low_memory=False

                             transaction_id            timestamp     amount  \
0      f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a  2025-03-06 12:04:00    7746.03
1      feccbd1e-7752-4452-a44a-901510252561  2025-03-31 01:37:00   45193.04
2      bc6a480c-e2e1-434d-830c-1cda3f913038  2025-04-29 22:58:00   33029.71
3      b832aa2c-77f3-4c4f-9697-9776b8d74abb  2025-02-27 14:52:00  35994 .61
4      0d32c6ef-508e-4f5d-bc64-341a0a9f498d  2025-01-03 22:29:00   32229.73
...                                     ...                  ...        ...
99995  ea7e0cb2-fadb-496c-962b-7e54a5cfa1bc  2025-02-03 17:00:00     146.04
99996  4271c3c0-d3be-49f5-8154-ee60e2a1e582  2025-01-07 14:00:00      56.98
99997  23574238-9739-4af4-a823-5b699812db4d  2025-05-11 13:00:00     128.34
99998  38e785ff-e460-419e-af07-595f5c67aaf6  2025-02-02 13:00:00     149.13
99999  94e5a276-d5ce-40f6-b17c-97885b455bbd  2025-05-09 15:00:00      41.77

      currency            sender_account          receiver_account  \
0          SEK  SE8902EWFT80524424320740  SE8902ZUIH32054423564254
1          SEK  SE8902GTSI58472323675409  SE8902ERNA19462716907689
2          SEK  SE8902SEZT63377163386089  SE8902LOLQ30361773270969
3          SEK  SE8902MGEE43594824630478  SE8902XIVG18316797897983
4          SEK  SE8902SZWO66860675966705  SE8902SUUS97732018069804
...        ...                       ...                       ...
99995      USD    GB39XHRG15445191862019  SE8902AQYT55466061009593
99996      USD    GB97OHYP64183530899251  SE8902AQYT55466061009593
99997      USD    GB68PWPH34390331224741  SE8902AQYT55466061009593
99998      USD    GB30NDUZ96025046626638  SE8902AQYT55466061009593
99999      USD    GB64JUMJ42347315082570  SE8902AQYT55466061009593

      sender_country sender_municipality receiver_country  \
0             Sweden          Karlskrona           Sweden
1             Sweden               Piteå           Sweden
2             Sweden           Östersund           Sweden
3             Sweden            Karlstad           Sweden
4             Sweden          Skellefteå           Sweden
...              ...                 ...              ...
99995     Mauritania        Jacksonville           Sweden
99996         Guinea         Waltersport           Sweden
99997        Tokelau           Davidfurt           Sweden
99998       Bulgaria     West Andrewside           Sweden
99999         Latvia        Crawfordfort           Sweden

      receiver_municipality transaction_type                  notes
0                Eskilstuna         outgoing        Online purchase
1                Norrköping         outgoing             Tax refund
2                 Karlskoga         incoming             Tax refund
3               Helsingborg         incoming                    NaN
4                     Falun         outgoing             Tax refund
...                     ...              ...                    ...
99995              Nyköping         outgoing  Gift to family member
99996            Skellefteå         incoming                    NaN
99997                 Luleå         incoming  Gift to family member
99998            Skellefteå         outgoing         Loan repayment
99999               Varberg         outgoing                    NaN

[100000 rows x 12 columns]

C:\Users\milan\AppData\Local\Temp\ipykernel_104344\220847042.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("transactions.csv")

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   transaction_id         100000 non-null  object
 1   timestamp              100000 non-null  object
 2   amount                 100000 non-null  object
 3   currency               100000 non-null  object
 4   sender_account         100000 non-null  object
 5   receiver_account       100000 non-null  object
 6   sender_country         99500 non-null   object
 7   sender_municipality    99500 non-null   object
 8   receiver_country       99500 non-null   object
 9   receiver_municipality  99500 non-null   object
 10  transaction_type       100000 non-null  object
 11  notes                  90018 non-null   object
dtypes: object(12)
memory usage: 9.2+ MB
None

In [15]:
import os
print(os.path.exists("transactions.csv"))

True

In [16]:
print(df.dtypes)

transaction_id           object
timestamp                object
amount                   object
currency                 object
sender_account           object
receiver_account         object
sender_country           object
sender_municipality      object
receiver_country         object
receiver_municipality    object
transaction_type         object
notes                    object
dtype: object

In [17]:
print(df.head(10))

                         transaction_id            timestamp     amount  \
0  f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a  2025-03-06 12:04:00    7746.03
1  feccbd1e-7752-4452-a44a-901510252561  2025-03-31 01:37:00   45193.04
2  bc6a480c-e2e1-434d-830c-1cda3f913038  2025-04-29 22:58:00   33029.71
3  b832aa2c-77f3-4c4f-9697-9776b8d74abb  2025-02-27 14:52:00  35994 .61
4  0d32c6ef-508e-4f5d-bc64-341a0a9f498d  2025-01-03 22:29:00   32229.73
5  7c0bd0e9-8cc3-4e25-a6ab-d55b0a042b07  2025-01-13 04:03:00    14846.8
6  7d878125-8fe6-4c40-a84e-64a558bd8980  2025-01-25 03:01:00    18670.7
7  cef446a3-e4de-4440-9442-082213fc5051  2025-04-07 16:48:00   42524.49
8  c37d775a-fa89-4826-b5ef-ae74693fe6d6  2025-04-08 09:16:00   35278.89
9  63044df6-0f08-42a0-9d80-9f4671f36f5b  2025-05-17 20:20:00   43971.83

  currency            sender_account          receiver_account sender_country  \
0      SEK  SE8902EWFT80524424320740  SE8902ZUIH32054423564254         Sweden
1      SEK  SE8902GTSI58472323675409  SE8902ERNA19462716907689         Sweden
2      SEK  SE8902SEZT63377163386089  SE8902LOLQ30361773270969         Sweden
3      SEK  SE8902MGEE43594824630478  SE8902XIVG18316797897983         Sweden
4      SEK  SE8902SZWO66860675966705  SE8902SUUS97732018069804         Sweden
5      SEK  SE8902VNVB26444807190551  SE8902QDXU96051978299389         Sweden
6      SEK  SE8902SSFH90772655677771  SE8902UKGU22372539668767         Sweden
7      SEK  SE8902WEFD50718097527603  SE8902MPMD99811264245009         Sweden
8      SEK  SE8902QAJL37790123676980  SE8902FPSB19207759109856         Sweden
9      SEK  SE8902NVQD71265390083232  SE8902LVHS64335396457755         Sweden

  sender_municipality receiver_country receiver_municipality transaction_type  \
0          Karlskrona           Sweden            Eskilstuna         outgoing
1               Piteå           Sweden            Norrköping         outgoing
2           Östersund           Sweden             Karlskoga         incoming
3            Karlstad           Sweden           Helsingborg         incoming
4          Skellefteå           Sweden                 Falun         outgoing
5              Örebro           Sweden                 Falun         outgoing
6                Umeå           Sweden             Lidköping         outgoing
7           Sundsvall           Sweden             Linköping         outgoing
8               Växjö           Sweden             Karlskoga         incoming
9             Uppsala           Sweden            Norrköping         incoming

                      notes
0           Online purchase
1                Tax refund
2                Tax refund
3                       NaN
4                Tax refund
5            Consulting fee
6                Tax refund
7  Reimbursement for travel
8            Loan repayment
9              Utility bill

In [18]:
print(df.isnull().sum())

transaction_id              0
timestamp                   0
amount                      0
currency                    0
sender_account              0
receiver_account            0
sender_country            500
sender_municipality       500
receiver_country          500
receiver_municipality     500
transaction_type            0
notes                    9982
dtype: int64

In [19]:
df

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
0,f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a,2025-03-06 12:04:00,7746.03,SEK,SE8902EWFT80524424320740,SE8902ZUIH32054423564254,Sweden,Karlskrona,Sweden,Eskilstuna,outgoing,Online purchase
1,feccbd1e-7752-4452-a44a-901510252561,2025-03-31 01:37:00,45193.04,SEK,SE8902GTSI58472323675409,SE8902ERNA19462716907689,Sweden,Piteå,Sweden,Norrköping,outgoing,Tax refund
2,bc6a480c-e2e1-434d-830c-1cda3f913038,2025-04-29 22:58:00,33029.71,SEK,SE8902SEZT63377163386089,SE8902LOLQ30361773270969,Sweden,Östersund,Sweden,Karlskoga,incoming,Tax refund
3,b832aa2c-77f3-4c4f-9697-9776b8d74abb,2025-02-27 14:52:00,35994 .61,SEK,SE8902MGEE43594824630478,SE8902XIVG18316797897983,Sweden,Karlstad,Sweden,Helsingborg,incoming,NaN
4,0d32c6ef-508e-4f5d-bc64-341a0a9f498d,2025-01-03 22:29:00,32229.73,SEK,SE8902SZWO66860675966705,SE8902SUUS97732018069804,Sweden,Skellefteå,Sweden,Falun,outgoing,Tax refund
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ea7e0cb2-fadb-496c-962b-7e54a5cfa1bc,2025-02-03 17:00:00,146.04,USD,GB39XHRG15445191862019,SE8902AQYT55466061009593,Mauritania,Jacksonville,Sweden,Nyköping,outgoing,Gift to family member
99996,4271c3c0-d3be-49f5-8154-ee60e2a1e582,2025-01-07 14:00:00,56.98,USD,GB97OHYP64183530899251,SE8902AQYT55466061009593,Guinea,Waltersport,Sweden,Skellefteå,incoming,NaN
99997,23574238-9739-4af4-a823-5b699812db4d,2025-05-11 13:00:00,128.34,USD,GB68PWPH34390331224741,SE8902AQYT55466061009593,Tokelau,Davidfurt,Sweden,Luleå,incoming,Gift to family member
99998,38e785ff-e460-419e-af07-595f5c67aaf6,2025-02-02 13:00:00,149.13,USD,GB30NDUZ96025046626638,SE8902AQYT55466061009593,Bulgaria,West Andrewside,Sweden,Skellefteå,outgoing,Loan repayment
99999,94e5a276-d5ce-40f6-b17c-97885b455bbd,2025-05-09 15:00:00,41.77,USD,GB64JUMJ42347315082570,SE8902AQYT55466061009593,Latvia,Crawfordfort,Sweden,Varberg,outgoing,NaN

In [21]:
print(df.columns)

Index(['transaction_id', 'timestamp', 'amount', 'currency', 'sender_account',
       'receiver_account', 'sender_country', 'sender_municipality',
       'receiver_country', 'receiver_municipality', 'transaction_type',
       'notes'],
      dtype='object')

In [22]:
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
print(df["timestamp"].isnull().sum())  # Ser hur många ogiltiga datum vi har

16

In [23]:
invalid_dates = df[df["timestamp"].isnull()]
print(invalid_dates)

                            transaction_id timestamp    amount currency  \
372   e13b1664-c549-4f92-895a-1f941dd6d82e       NaT  12881.63      SEK
374   7bfcf599-e449-4e63-a3f9-05631511e58a       NaT  20223.17      SEK
432   b75a64f1-d111-4261-9df0-53f2c38e2828       NaT  45069.28      SEK
566   bc91f1d3-e0b0-471b-844f-7e14941d3236       NaT   9908.07      SEK
658   e4ec0cfc-55e8-4ca1-b3f4-0948a1b8e997       NaT   3080.18      SEK
661   13638365-972b-4fd8-9518-f27557a7e1cd       NaT  34157.12      SEK
761   fda4c622-1044-49aa-bc41-b44bdd50bc9c       NaT   2192.15      SEK
814   bc23bd09-5b6a-4ebe-95ae-7dad0cde315a       NaT  21899.83      SEK
817   9687e5ce-f8e0-4afa-ac0c-54d8c6ef457f       NaT  36969.56      SEK
821   aee31e4c-e8c1-4fa5-b8bf-53815ab51b55       NaT   39794.0      SEK
866   f46345d0-c1f8-46d7-ae78-47c4a6b52fee       NaT   9573.92      SEK
876   2f48c8d5-cad7-48b0-8f8c-2f1324911dfd       NaT  34373.92      SEK
884   776cbccf-2d92-4e83-a702-6b6261fa7de0       NaT  46318.06      SEK
911   2452bd7a-a1b4-425d-a9e1-a6299edbc458       NaT  31961.53      SEK
913   bf0e480f-3993-4f19-99c3-8e223bd1cada       NaT   6091.76      SEK
1428  99ca438b-d55e-4ba4-b6fc-c353cc5d810b       NaT  22074.32      SEK

                sender_account          receiver_account sender_country  \
372   SE8902IOSH72112913547339  SE8902EXDO77351409949930         Sweden
374   SE8902UEXU77157980119965  SE8902EMWA07310860593299         Sweden
432   SE8902PBIW30011757227628  SE8902SZWO66860675966705         Sweden
566   SE8902HEXR67420014606110  SE8902PBIW30011757227628         Sweden
658   SE8902RXEO54698137995629  SE8902PXQH61449282091685         Sweden
661   SE8902XMWU73408358252236  SE8902HPKQ79721411987869            NaN
761   SE8902KSGF71738325166005  SE8902SWFR35893590471977         Sweden
814   SE8902GPFA36799720094528  SE8902AEOP68872744631879         Sweden
817   SE8902ZKDX10421013051508  SE8902ZQHA53957175041781         Sweden
821   SE8902FIYI65713456085419  SE8902RNER71700945656875         Sweden
866   SE8902NFSW96446848690649  SE8902IFPV72140679061770         Sweden
876   SE8902AEQJ97044224731438  SE8902FZSE04507369196975         Sweden
884   SE8902JZYF06547820263799  SE8902IBRL73514393853709         Sweden
911   SE8902IGFR09709190696891  SE8902GTCY42439402519574         Sweden
913   SE8902IILS20920256766703  SE8902WGYQ69186751021705         Sweden
1428  SE8902APWS33564004625903  SE8902MVZJ65066103207787         Sweden

     sender_municipality receiver_country receiver_municipality  \
372           Norrköping           Sweden            Trelleborg
374         Kristianstad           Sweden                 Luleå
432             Göteborg           Sweden               Lidingö
566           Karlskrona           Sweden              Göteborg
658            Sundsvall           Sweden             Uddevalla
661                Malmö           Sweden                 Luleå
761                 Lund           Sweden                  Umeå
814            Uddevalla           Sweden                 Borås
817            Jönköping           Sweden                Motala
821             Alingsås           Sweden             Linköping
866                Malmö           Sweden              Borlänge
876             Halmstad           Sweden             Sandviken
884              Lidingö           Sweden                 Luleå
911                  NaN           Sweden             Sandviken
913                Luleå           Sweden            Södertälje
1428             Lidingö           Sweden                 Falun

     transaction_type                      notes
372          incoming             Loan repayment
374          incoming             Loan repayment
432          incoming  Payment for invoice #3222
566          incoming              Rent transfer
658          incoming           Insurance payout
661          outgoing  Payment for invoice #8946
761          incoming               Utility bill
814          outgoing            Online purchase
817          incoming               Utility bill
821          outgoing            Mobile recharge
866          incoming                 Tax refund
876          outgoing  Payment for invoice #9893
884          incoming            Mobile recharge
911          incoming            Mobile recharge
913          incoming      Gift to family member
1428         incoming            Online purchase